<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head', { title: 'Not found!' }) %>
</head>

<body>
  <%- include('includes/header') %>
  <main>
    <h1>Your password is Wrong</h1>
    <p>Please Procide a valid password or mail the admin to get access.</p>
    <a class="btn" href="/">Back To Safety!</a>
  </main>
</body>

</html>